.footer {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 0.8rem;
  width: 10rem;
}

.footer_box:nth-child(2) {
  margin-right: 2rem;
  margin-left: 2rem;
}

.title {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.info {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer_box {
    height: auto;
  }
  .title {
    margin: 0;
  }

  .footer_box:nth-child(2) {
    margin: 0;
  }
}
