.container {
  flex-grow: 1;
  /* background-color: var(--navy-color); */
  color: var(--white-color);
  display: flex;
  position: relative;
  z-index: 1;
}

.left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-1);
}

.right {
  width: 60%;
  background-color: var(--white-color);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-2);
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
}

.image {
  border-radius: 50%;
}

.first_name,
.last_name {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}

.divider {
  background-color: var(--color-3);
  height: 0.2rem;
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  word-spacing: 10%;
  margin-bottom: 1rem;
  color: #000;
}

.card_bottom {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon {
  cursor: pointer;
  color: var(--navy-color);
  transition: 0.3s;
}

.icon:first-child {
  margin-right: 0.5rem;
}

.icon:last-child {
  margin-left: 0.5rem;
}

.icon:hover {
  color: var(--color-3);
}

.details {
  /* background-color: aqua; */
  color: #000;
  margin-left: 2rem;
  width: 450px;
}

.hello {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
}

.subtitle {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  width: 8rem;
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  border-radius: 10rem;
  transition: 0.3s;
}

.btn:first-child {
  background-color: var(--color-3);
  color: var(--white-color);
  margin-right: 1rem;
  border: 1px solid var(--color-3);
}

.btn:first-child:hover {
  background-color: transparent;
  color: #000;
}

.btn:last-child {
  background-color: transparent;
  color: black;
  border: 1px solid #000;
}

.btn:last-child:hover {
  background-color: var(--color-3);
  border: 1px solid var(--color-3);
  color: var(--white-color);
}

@media (max-width: 860px) {
  .container {
    flex-direction: column-reverse;
  }

  .left,
  .right {
    width: 100%;
  }

  .right {
    height: 40vh;
  }

  .left {
    height: 55vh;
  }

  .content {
    flex-direction: column;
  }

  .details {
    margin: 0;
    margin-top: 1rem;
  }

  .hello {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .btns {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .left {
    height: 700px;
  }

  .right {
    height: 250px;
  }

  .card {
    width: 90vw;
  }

  .details {
    width: 90vw;
  }

  .hello {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}

@media (max-width: 325px) {
  .left {
    height: 730px;
  }
}
