.navbar {
  color: var(--white-color);
  background-color: var(--light_navy-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav_btn {
  display: none;
}

.nav_left {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav_left:hover {
  color: var(--green-color);
}

.nav_box {
  display: flex;
  align-items: center;
}

.nav_name_title {
  display: flex;
}

.nav_name {
  margin-left: 0.75rem;
  font-size: 1.8rem;
  font-weight: 900;
}

.nav_title {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.2rem;
}

.nav_right {
  margin-right: 5rem;
  display: flex;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}

.nav_menu_item:nth-child(1),
.nav_menu_item:nth-child(2) {
  margin-right: 3rem;
}

.nav_menu_item {
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.nav_menu_item:hover {
  color: var(--green-color);
}

@media (max-width: 850px) {
  .nav_btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;
    border: 1px solid var(--green-color);
    color: var(--green-color);
  }

  .nav_right {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--navy-color);
    top: 0;
    right: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .nav_menu_item:nth-child(1),
  .nav_menu_item:nth-child(2) {
    margin-right: 0;
  }

  .nav_right.active {
    transform: translateX(0);
  }

  .nav_menu_item {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .nav_left {
    margin-left: 1rem;
  }

  .nav_spacer {
    display: none;
  }

  .nav_name_title {
    flex-direction: column;
  }

  .nav_title {
    margin-left: 0.75rem;
  }

  .nav_btn {
    top: 2rem;
  }
}
